<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <mets name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue RUD App</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
<div id="vue-app">
    <div class="grid-container">
    <app-header class="header-title"></app-header>

    <nav class="navigation-links">
      <ul>
        <li>Home</li>
        <li>About</li>
        <li>Contact</li>
      </ul>
    </nav>

    <div class="data-content">
      <div class="class-user-input">
        <input type="text" v-model="newUser" placeholder="Enter new user..."></input>
        <input type="submit" value="Add user" v-on:click="addNewUser(newUser)"></input>
      </div>
       <h1>List of Users</h1>
       <br>
       <div v-else>
        <ul v-for="(user, index) in users" v-bind:key="user">
          <li v-bind:style="{ color: usersTextColor[index] }">{{ index }}: {{ user }}</li>
        </ul>
        <br>
        <h4> {{ numberOfUsersText }}</h4>
       </div>
      <!--- NEW SEARCH FEATURE --->
      <div class="search-user-input">
        <h1 v-bind:class="searchTextClass">Search Users:</h1>
        <label for="searchInput">Search for: </label>
        <input v-model="searchName" type="text" id="searchInput"></input>
      </div>
      <br>
      <ul v-for="user in searchResults" v-bind:key="user">
        <li>{{ user }}</li>
      </ul>
    </div>
    <footer class="footer">
      <h4>{{ footerMessage }}</h4>
    </footer>
  </div>
</div>
<script src='app.vue' type="text/javascript"></script>
</body>
</html>
